<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Siteimprove.Settings.Item" value="/sitecore/system/Modules/Siteimprove/Siteimprove setting"/>
      <setting name="Siteimprove.Javascript.ExternalUrl" value="https://cdn.siteimprove.net/cms/overlay-latest.js"/>
	  <setting name="Siteimprove.Javascript.ExternalUrlV1" value="https://cdn.siteimprove.net/cms/overlay-v1.js"/>
      <setting name="Siteimprove.Javascript.InternalUrl" value="/sitecore modules/Shell/Siteimprove/Assets/SiteImprove.js"/>
      <setting name="Siteimprove.TokenUrl" value="https://my2.siteimprove.com/auth/token?cms=Sitecore"/>
	  <setting name="Siteimprove.ApiUrl" value="https://api.siteimprove.com/v2"/>
    </settings>

	  <services>
		  <register serviceType="Siteimprove.Services.ISitecoreSettingsService, SiteImprove" implementationType="Siteimprove.Services.SitecoreSettingsService, SiteImprove" lifetime="Transient" />
	  </services>

	  
    <pipelines>
      <initialize>
        <processor type="Siteimprove.Pipelines.InitializeTlsProcessor, Siteimprove" />
      </initialize>

      <renderContentEditor>
        <processor patch:before="*[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']" type="Siteimprove.Pipelines.ContentEditorProcessor,Siteimprove"/>
      </renderContentEditor>

      <renderLayout>
        <processor patch:after="*[@type='Sitecore.Pipelines.RenderLayout.InsertUnusedControls, Sitecore.Kernel']" type="Siteimprove.Pipelines.ExperienceEditorProcessor,Siteimprove"/>
      </renderLayout>

      <mvc.renderPageExtenders>
        <processor type="Siteimprove.Pipelines.ExperienceEditorMvcProcessor,Siteimprove" />
      </mvc.renderPageExtenders>
		
    </pipelines>

	  <commands>
      <command name="siteimprove:recheck" type="Siteimprove.Commands.RecheckCommand,Siteimprove"></command>
      <command name="siteimprove:contentcheck" type="Siteimprove.Commands.ContentCheckCommand,Siteimprove"></command>
	</commands>
	  
    <sitecore.experienceeditor.speak.requests>
      <request name="Siteimprove.GetToken" type="Siteimprove.SpeakRequests.GetToken, Siteimprove"/>
      <request name="Siteimprove.GetLiveUrl" type="Siteimprove.SpeakRequests.GetLiveUrl, Siteimprove"/>
      <request name="Siteimprove.GetPreviewUrl" type="Siteimprove.SpeakRequests.GetPreviewUrl, Siteimprove"/>
      <request name="Siteimprove.GetContentCheckStatus" type="Siteimprove.SpeakRequests.GetContentCheckStatus, Siteimprove"/>
    </sitecore.experienceeditor.speak.requests>
	<events>
	    <event name="item:saved">
		    <handler type="Siteimprove.Events.SettingsItemSavedEventHandler, Siteimprove" method="OnItemSaved"/>
	    </event>
	</events>
  </sitecore>
</configuration>